@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900&display=swap');

:root {
  --color-primary: #00A19C;
  --color-accent: #80142B;
  --color-text: #C6C6C6;
  --color-bg: #111111;
  --color-bg-card: #1a1a1a;
  --font-fancy: 'Instrument Serif', serif;
  --font-fun: 'Orbitron', sans-serif;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  font-family: var(--font-fancy);
}